<div>Search results</div>

 <table class="table border table-hover table-inverse">
      <% if @result == [] %>
        <h3 class="mt-3 text-center">検索結果がありません。</h3>
      <% elsif @item.present? %>
      <% search_word = @q.name_cont %>
    <h2>検索結果 "<%= search_word %>"</h2>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @item.each do |f| %>
          <td><%= link_to f.name, item_path(f.id) %></td>
        </tr>
        <% end %>
      <% else %>
        <h3>検索結果がありません。</h3>
      <% end %>
    </table>