<div class="container">
  <% if @result == [] %>
    <h3 class="mt-3 text-center">検索結果がありません。</h3>
  <% elsif @item.present? %>
    <% search_word = @q.name_cont %>

  <div class="row mt-5 mb-3">
    <div class="mx-auto">
      <h3>検索結果 "<%= search_word %>"</h3>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>price(税抜)</th>
      </tr>
    </thead>
    <tbody>
      <% @item.each do |f| %>
      <tr>
        <td><%= image_tag f.get_item_image(50,50) %></td>
        <td><%= link_to f.name, item_path(f.id) %></td>
        <td><%= f.price %></td>
      </tr>
      <% end %>

  <% else %>
    <h3>検索結果がありません。</h3>
  <% end %>
  </table>
</div>