<div class="container">
  <div class="row my-5">
    <div class="col-3"></div>
    <h4><strong>商品編集</strong></h4>
    <%= render 'layouts/errors', obj: @item %>
    <%= render 'form',item: @item, categories: @categories %>
  </div>
</div>
