<div class="container">
  <div class="row my-5">
    <div class="col-3"></div>
    <h3><strong>商品新規登録</strong></h3>
    <%= render 'layouts/errors', obj: @item %>
    <%= render 'form',item: @item, categories: @categories %>
  </div>
</div>