<div class="container d-flex vh-100 justify-content-center align-items-center text-center">
  <div>
    <h1 class="text-danger" style="font-size: 90px;">Thank you!!</h1>
    <div class="my-5" style="font-size: 20px;">ご注文ありがとうございます。</div>
    <div><%= link_to "Topへ戻る", latest_path, class: "custom-link" %></div>
  </div>
</div>