<div class="container">
  <div class="row mt-5">
    <div class="mx-auto">
      <h1 class="text-danger">Thank you</h1>
      <p>ご注文ありがとうございます。</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="mx-auto">
      <%= link_to "Topへ戻る", latest_path %>
    </div>
  </div>
</div>