<div class="container">

  <div class="row my-5">
    <div class="mx-auto">
      <h3><strong>Favorite</strong></h3>
    </div>
  </div>

  <hr>

  <div class="row mt-4">
    <% @favorite_review.each do |review|%>
      <div style="margin-right: 10px; margin-bottom: 10px;">
        <div class="custom-img">
          <%= link_to review_path(review.id) do %>
            <%= image_tag review.get_review_image(270,270) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="mx-auto">
      <%= paginate @favorite_review %>
    </div>
  </div>
</div>