<div class="container">
  <div class="row my-5">
    <div class="mx-auto">
      <h4>フォロー中のユーザー</h4>
    </div>
  </div>
<% if @users.exists? %>
  <div class="row">
    <%= render "index", user: @user, users: @users, followings: @followings, followers: @followers %>
  </div>
<% else %>
  <div class="row">
    ユーザーはいません
  </div>
<% end %>
</div>