<div class="container">
  <div class="row my-5">
    <div class="mx-auto">
      <h4>フォロワー</h4>
    </div>
  </div>
<% if @users.exists? %>
  <div class="row">
      <%= render "index", user: @user, users: @users, followings: @followings, followers: @followers, favorite_all: @favorite_all %>
  </div>
<% else %>
  <div class="row">
    ユーザーはいません
  </div>
<% end %>
</div>