@use '~bootstrap/scss/bootstrap';

// about画面
.about-container {
  width: 100%;
}
.about-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_us {
  position: absolute;
  top: 30%;
  left: 65%;
  font-size: 50px;
  color: white;
  padding:0;
  margin:0;
}

.about_body {
  position: absolute;
  top: 40%;
  left: 65%;
  font-size: 25px;
  color: white;
  padding:0;
  margin:0;
}

// latest画面
.latest_container {
  margin-left: 25px;
  margin-right: 25px;
}

// user_session画面
.form-color {
  color: white;
  background-color: grey;
}

.session-submit {
  font-size: 14px;
  color: white;
  background-color: black;
  padding: 5px 135px;
  border-color: black;
}

.session-submit:hover {
  background-color: grey;
  border-color: gray;
}

.session-link {
  font-size: 14px;
  color: white;
  padding: 7px 95px;
  background-color: grey;
  border-radius: 3px;
}

.session-link:hover {
  color: white;
  background-color: black;
  border-color: white;
}

.session-new {
  font-size: 14px;
  color: white;
  padding: 7px 135px;
  background-color: black;
  border-radius: 3px;
}

.session-new:hover {
  color: white;
  background-color: grey;
  border-color: white;
}

