<div class="container">

  <div class="row my-5">
    <div class="mx-auto">
      <h3><strong><%= @category %></strong></h3>
    </div>
  </div>

  <div class="row">
    <% @reviews.each do |review| %>
    <%= link_to review_path(review.id) do %>
    <%= image_tag review.get_review_image(400,400) %>
    <% end %>
  <% end %>
  </div>

  <div class="row my-3">
    <div class="mx-auto">
      <%= paginate @reviews %>
    </div>
  </div>

</div>