<div class="about-container">
  <div class="center-block">
    <%= image_tag "about.jpg", :size => '1400x700' %>
    <div class="about_us">About us</div>
    <div class="about_body">
      おしゃれもしたい<br>
      人との繋がりも大事<br>
      もっと時間があればいいのに...<br>
      欲張りなあなたの全てを叶える<br>
      お手伝いがしたい
    </div>
  </div>
</div>