<div class="container latest_container">
  <div class="row mt-3">
    <div style="display: flex;">
    <% @latest_reviews.each do |review| %>
      <div style="margin-right: 10px;">
        <div class="latest-img">
        <%= link_to review_path(review.id) do %>
          <%= image_tag review.get_review_image(190,530) %>
        <% end %>
        </div>
      </div>
  <% end %>
  </div>
  </div>
</div>