<%= render 'layouts/latest_header' %>
<div>
  <% @latest_reviews.each do |review| %>
    <%= link_to review_path(review.id) do %>
    <%= image_tag review.get_review_image(200,1000) %>
    <% end %>
  <% end %>
</div>