<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <div>
          SCS ©︎ 2024 GitHub: github.com/ystm08
        </div>
      </div>
    </div>
  </div>
</footer>